.get-one-spot-container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    /* padding-top: 24px; */
}

.get-one-spot-container-body {
    width: 1120px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    box-sizing: border-box;
    /* margin: 24px; */
}

@media (max-width: 1024px) {
    .get-one-spot-container-body {
        width: 880px;
        margin: 0;
    }
}

.get-one-spot-body-top {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    width: 100%;
    margin-top: 25px;
}

.get-one-spot-body-top-right {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.edit-delete-spot-button {
    background-color: white;
    height: 42px;
    width: 75px;
    font-size: 14px;
    border: transparent solid 1px;
    border-radius: 500px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.edit-delete-spot-button:hover {
    border: 1px solid transparent;
    background-color: rgb(243, 243, 243);
}

.get-one-spot-body-top-left {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    overflow: hidden;
}

.spot-name {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 4px;
}

.ratings-reviews-address {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

.spot-ratings {
    margin-right: 20px;
}

.spot-reviews {
    margin-right: 20px;
}

/* .get-one-spot-body-middle {
    border: 10px solid grey;
    box-sizing: border-box;
} */

.get-one-spot-body-middle {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 560px;
    width: 100%;
    border-radius: 20px;
}

.spot-images-container-left {
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.spot-images-container-middle {
    width: 7px;
}

.spot-images-container-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.spot-images-container-right-top {
    width: 100%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    border-top-right-radius: 20px;
}

.spot-images-container-right-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
}

.spot-images-container-right-top-left {
    width: 50%;
}

.spot-images-container-right-top-right {
    width: 50%;
    border-top-right-radius: 20px;
}

.spot-images-container-right-middle-horizontal {
    height: 7px;
}

.spot-images-container-right-bottom-right {
    width: 50%;
}

.spot-images-container-right-bottom-left {
    width: 50%;
    border-bottom-right-radius: 20px;
    /* border-top-right-radius: 20px; */
}

.spot-images-container-right-middle {
    width: 7px
}

.display-images {
    height: 100%;
    width: 100%
}

.large-image {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.top-right-image {
    border-top-right-radius: 20px;
}

.bottom-right-image {
    border-bottom-right-radius: 20px;
}

.display-image {
    background-color: lightgrey;
}

.get-one-spot-body-bottom {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.create-a-review-button {
    background-color: white;
    height: 42px;
    width: 150px;
    font-size: 14px;
    border: transparent solid 1px;
    border-radius: 500px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.create-a-review-button:hover {
    border: 1px solid transparent;
    background-color: rgb(243, 243, 243);
    border: 3px solid red;
}

.spot-line {
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

.spot-host {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 25px;
}

.spot-description {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 14px;
}

.spot-review-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 25px;
}

.reviews-and-button {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
}

.spot-review-container-card {
    display: flex;
    height: fit-content;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
}
