.sign-up-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    height: fit-content;
    width: 568px;
    border-radius: 10px;
    align-items: center;
}

.sign-up-container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    width: 568px;
    height: 64px;
    font-weight: bold;
    font-size: 16px;
}

.close-button {
    display: flex;
    position: absolute;
    left: 15px;
    border-radius: 50%;
    padding: 0.5em;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    color: black;
    background-color: white;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    justify-content: center;
}

.close-button:hover {
    border: 1px solid transparent;
    background-color: rgb(243, 243, 243);
}

.sign-up-for-bemyguest {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16;
}

.sign-up-container-body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 568px;
    height: 618px;
}

.sign-up-form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520px;
    height: 562px;
}

.sign-up-container-body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 520px;
    height: 562px
}

.welcome {
    text-align: left;
    width: 520px;
    height: 30px;
    font-weight: 600;
    font-size: 22px;
}

.sign-up-inputs {
    height: fit-content;
    width: 520px;
    margin-top: 28px;
    border-radius: 8px;
    border: 1px solid lightgray;
}

.line {
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
}

.sign-up-input-fields {
    box-sizing: border-box;
    border: 0px solid transparent;
    border-radius: 8px;
    width: 520px;
    height: 55.5px;
}

.sign-up-signup-button {
    box-sizing: border-box;
    width: 520px;
    height: 50px;
    border: 1px solid rgb(189, 30, 89);
    background: rgb(189, 30, 89);
    cursor: pointer;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.signup-button-div {
    margin-top: 16px;
}

.sign-up-error {
    color: red;
    font-size: 12px;
    font-weight: 400px;
}
