.navbar {
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    border-bottom: 1px solid lightgray;
    position: fixed;
    font-family: sans-serif;
    top: 0;
    left: 0;
}

.logo {
    height: 64px;
    width: 118px;
}

.navbar-left {
    border: 10px solid red;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80px;
}

.navbar-right {
    border: none;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.become-a-host-div {
    padding-right: 40px;
}

.menu-div {
    width: fit-content;
    height: 42px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.become-a-host-button {
    background-color: white;
    height: 42px;
    width: 123px;
    font-size: 14px;
    border: transparent solid 1px;
    border-radius: 500px;
    font-weight: 600px;
    font-size: 14px;
    cursor: pointer;
}

.become-a-host-button:hover {
    border: 1px solid transparent;
    background-color: rgb(243, 243, 243);
}

.login-signup-buttons {
    height: 42px;
    width: 300px;
    color: red
}
